# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/Notiz-Speicher/target/
/data/
*.mv.db
*.trace.db
/Exam-P3/
