<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Standardtitel</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> <!-- For Icons-->
</head>
<body>
<div th:fragment="layout(content)">
    <!-- Sidebar & Main layout -->
    <button class="sidebar-toggle" id="sidebarToggle" onclick="toggleSidebar()">☰</button>

    <!-- Logo -->
    <a href="/user" id="logoLink">
        <img id="logo" th:src="@{/img/thowl_logo.png}" alt="THOWL Logo" class="logo">
    </a>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a th:href="@{/user}" class="sidebar-link"><i class="fas fa-home"></i><span>Übersicht</span></a></li>
            <li><a th:href="@{/user/documents}" class="sidebar-link"><i class="fas fa-folder"></i><span>Dokumente</span></a></li>
            <li><a th:href="@{/user/favorites}" class="sidebar-link"><i class="fas fa-star"></i><span>Favoriten</span></a></li>
            <li><a th:href="@{/user/search}" class="sidebar-link"><i class="fas fa-search"></i><span>Suchen</span></a></li>
        </ul>
        <ul class="bottom-items">
            <li class="bottom-item"><a th:href="@{/user/profile}" class="sidebar-link"><i class="fas fa-user"></i><span th:text="${username}">Profil</span></a></li>
            <li class="bottom-item">
                <a href="#" class="sidebar-link" onclick="if(confirmLogout()) document.getElementById('logoutForm').submit();">
                    <i class="fas fa-sign-out-alt"></i><span>Abmelden</span>
                </a>
                <form id="logoutForm" th:action="@{/user/logout}" method="post" style="display: none;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
            </li>


        </ul>
    </div>

    <!-- Main Content -->
    <div class="content" id="content">
        <div th:replace="${content}"></div>
    </div>

    <script th:src="@{/js/script.js}"></script>
</div>
</body>
</html>

